<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Bahrain Business Directory</title>
</head>
<body>
    <h1>Welcome to the Bahrain Business Directory!</h1>

    <img src="/assets/phonebook.png" alt="a phonebook directory" class="phonebook">

    <p>A simple directory where users can browse small to mid-size businesses in Bahrain.</p>

    <a href="/businesses" class="businesses-index-link">
        <div class="index-link-text">
            Browse Businesses
        </div>
    </a>
</body>
<footer>Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a></footer>
</html>